body { padding-top: 70px; }

.title {margin-bottom: 0px;}
.subtitle {display: block; margin-bottom: 20px}
.task-actions {position: relative; top: 20px;}
.task-important {color: #CD4939;}
.task-details p {margin-left: 18px;}
.task-details input[type=checkbox] {margin-right: 14px}
.task-details label {font-weight: normal;}
small {color: #999;}