body { padding-top: 70px; }

.title {margin-bottom: 0px;}
.subtitle {display: block; margin-bottom: 20px}
small {color: #999;}

/* bs overrides */
.tasks .list-group-item {padding: 0; height: 5em;}

/* task list */
.task {display: inline-block; clear: none; padding: 16px 24px; width: auto; height: 100%; color: #3e3f3a;}
.task:hover {text-decoration: none}
.task-action {border-right: solid 1px #dfd7ca; float: left; height:100%; line-height: 3.5em;}
.task-action-complete {color: #93c54b;}

/* details list */
.task-actions {position: relative; top: 20px;}
.task-important {color: #CD4939;}
.task-details p {margin-left: 18px;}